<div class="container-fluid"></div>
    <div class="row">
        <nav class="col-md-3 bg-light sidebar">
            <h4>Categories</h4>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Drug Categories
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Antibiotics</a>
                    <a class="dropdown-item" href="#">Analgesics</a>
                    <a class="dropdown-item" href="#">Antidepressants</a>
                    <a class="dropdown-item" href="#">Antihistamines</a>
                    <a class="dropdown-item" href="#">Antipyretics</a>
                    <a class="dropdown-item" href="#">Stimulants</a>
                    <a class="dropdown-item" href="#">Antipsychotics</a>
                    <a class="dropdown-item" href="#">Corticosteroids</a>
                </div>
            </div>
        </nav>

        <main class="col-md-9 main-content">
            <h4>Sort By</h4>
            <select class="custom-select mb-3">
                <option selected>Sort by...</option>
                <option value="1">Name A-Z</option>
                <option value="2">Name Z-A</option>
                <option value="3">Price Low-High</option>
                <option value="4">Price High-Low</option>
            </select>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Amoxicillin">
                        <div class="card-body text-center">
                            <h5 class="card-title">Amoxicillin</h5>
                            <p class="card-text">$12.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Ibuprofen">
                        <div class="card-body text-center">
                            <h5 class="card-title">Ibuprofen</h5>
                            <p class="card-text">$9.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Fluoxetine">
                        <div class="card-body text-center">
                            <h5 class="card-title">Fluoxetine</h5>
                            <p class="card-text">$14.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Cetirizine">
                        <div class="card-body text-center">
                            <h5 class="card-title">Cetirizine</h5>
                            <p class="card-text">$8.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Paracetamol">
                        <div class="card-body text-center">
                            <h5 class="card-title">Paracetamol</h5>
                            <p class="card-text">$7.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Methylphenidate">
                        <div class="card-body text-center">
                            <h5 class="card-title">Methylphenidate</h5>
                            <p class="card-text">$19.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Risperidone">
                        <div class="card-body text-center">
                            <h5 class="card-title">Risperidone</h5>
                            <p class="card-text">$22.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="" class="card-img-top" alt="Prednisone">
                        <div class="card-body text-center">
                            <h5 class="card-title">Prednisone</h5>
                            <p class="card-text">$15.99</p>
                            <button class="btn btn-primary w-100 mb-1">Buy</button>
                            <button class="btn btn-secondary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Cart Icon -->
<a href="#" class="cart-icon">
    <i class="fas fa-shopping-cart"></i>
</a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>