<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFGP e-Commerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- Font Awesome -->
</head>

<body>

    <!-- Sticky Header with Upside-down Trapezoid Shape -->
    <header class="custom-header">
        <div class="container">
            <nav class="navbar">
                <!-- Left Side: Brand Name -->
                <a href="#" class="navbar-brand">AFGP</a>

                <!-- Center: Navigation Links -->
                <div>
                    <a href="#" class="nav-link d-inline-block" id="home-link">Home</a>
                    <a href="#" class="nav-link d-inline-block" id="shop-link">Shop</a>
                    <a href="#" class="nav-link d-inline-block">About</a>
                </div>

                <div id="header-right" class="d-flex align-items-center">
                    <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                    <div id="balanceDisplay" class="d-none">
                        <span id="balanceAmount">0.00</span>
                        <i class="fas fa-wallet"></i>
                    </div>
                    <div class="dropdown position-relative dropend" id="profileDropdown">
                        <i class="fas fa-user-circle ms-3 d-none" id="profileIcon" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu dropdown dropend" id="dropdownMenu">
                            <li><a class="dropdown-item" href="#" id="account-link">Account</a></li>  

                            <li><a class="dropdown-item" href="#" id="logoutButton">Logout</a></li>
                        </ul>
                    </div>
                </div>
                
            </nav>
        </div>
    </header>
    <div id="main-content">
        <!-- Initially load index_body -->
        <%- include('partials/index_body') %>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script> <!-- Link to external script file -->
</body>

</html>
